.parallax {
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.textbetween {
	background-color: #f8f7f7;
	width : 100%;
	text-align: center;
	z-index: 500;
}

#txt1 {
	color: #060606;
	height: 25%;
	font-size: 4vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#txt1 > div {
	padding: 30px;
}

#txt1petit {
	font-size: 2.5vw;
	width: 75%;
	margin: auto;
}

#txt2 {
	color: #060606;
	height: 60vw;
	font-size: 3vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#txt2techdescribe {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: flex-start;
	margin-top: 10vh;
}

#bioeyetitle {
	padding: 30px;
	font-size: 7vw;
}

#txt3 {
	color: #060606;
	height: 1100px;
	font-size: 3vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#parallax1 {
	background-image: url(../images/parallax3-1.jpg);
	display: flex;	
	align-items: stretch;
	position: relative;
	z-index: -300;
	height: 74vh;
}

#parallax1 > div{
	display: flex;
	flex-direction: column;
	margin: auto auto 40px auto;
}

#parallax1 #span11{
	text-align: center;
	position: relative;
	font-size: 12vw;
	color: #f8f7f7;
}

#parallax1 #span12{
	text-align: center;
	position: relative;
	font-size: 2.5vw;
	color: #f8f7f7;
	line-height: 200px;
}

#parallax2 {
	background-image: url(../images/parallax5-1.jpg);
	position: relative;
	z-index: -300;
	height: 25vh;
}

#parallax2 > div{
	display: flex;
	flex-direction: column;
	margin: auto auto;
}

#parallax3 {
	background-image: url(../images/parallax2.jpg);
	position: relative;
	z-index: -300;
	height: 25vh;
}

#alphacameramkimage {
	height: 25%;
	width: 25%;
	position: relative;
	left: 3vw;
}

#mkselection {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	width: 62vw;
	left: 8vw;
}

.tab [type=radio] {
	display: none;
}

.tab label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
}

.tab:first-child label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
	border-radius: 6px 0px 0px 0px;
}

.tab:last-child label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
	border-radius: 0px 6px 0px 0px;
}

.contentselectmktext {
	font-size: 2vw;
}

.animationcontentmkselect {
	transform : translateY(-10%);
	transition: all 0.2s ease-out, opacity 0.2s ease-out;
	opacity: 0
}

.contentmkselect {
	background-color: #5f5f5f;
	color: #f8f7f7;
	font-size: 3vw;
	position: absolute;
	top: 4vw;
	left: 0;
	padding: 40px;
	visibility: hidden;
	box-shadow: inset -4px -4px #56647a;
	border-radius: 0px 6px 6px 6px;
}

.tab [type=radio]:checked ~ label {
	background-color: #5f5f5f;
	z-index: 2;
}

.tab [type=radio]:checked ~ .contentmkselect {
	visibility: visible;
	z-index: 1;
}

.tab [type=radio]:checked ~ .contentmkselect .animationcontentmkselect {
	transform: translateY(0%);
	opacity: 1;
}

#timelinecontainer {
	width: 100%;
	overflow: hidden;
	height : 75vh;
	position: relative;
}

#timeline {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 200vw;
	top: 11.5vh;
	transition: transform 0.5s ease-out;
}

#line_timeline {
	position : absolute;
	top: 2.3vh;
	height: 3px;
	width: 100%;
	border-radius: 1px;
	background-color: #4c4c4c;
}

#circle_timeline1 {
	font-size: 1.5vw;
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	background-color: #5f5f5f;
	color: #f8f7f7;
	position: relative;
	left: 47%;
	top: calc(4vh-2.5vh);
}

#circle_timeline2 {
	font-size: 1.5vw;
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	background-color: #5f5f5f;
	color: #f8f7f7;
	position: relative;
	left: 47%;
	top: calc(4vh-2.5vh);
}

#circle_timeline3 {
	font-size: 1.5vw;
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	background-color: #5f5f5f;
	color: #f8f7f7;
	position: relative;
	left: 47%;
	top: calc(4vh-2.5vh);
}

#circle_timeline4 {
	font-size: 1.5vw;
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	background-color: #5f5f5f;
	color: #f8f7f7;
	position: relative;
	left: 47%;
	top: calc(4vh-2.5vh);
}

#page1 {
	top: 5vh;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100vw;
}
#page2 {
	top: 5vh;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100vw;
}

.text_timeline {
	visibility: visible;
	top: 6.5vh;
	left: 1.75%;
	font-size: 2.5vw;
	position: relative;
	width: 90%;
	background-color: #5f5f5f;
	color: #f8f7f7;
	z-index : 0;
	padding: 1% 2.5%;
}

#tlswipelabel1 {
	position: absolute;
	top: 0%;
	left: 50%;
}

#tlswipelabel2 {
	position: absolute;
	top: 0%;
	left: 0%;
}

.buttontl {
	color: #f8f7f7;
	position: relative;
	background-color: #5f5f5f;
	font-size: 8vh;
	height: 10vh;
	width: 50vw;
}


#timelinecontainer [type=radio] {
	display: none;
}

.date_tl [type=radio]:checked ~ .text_timeline {
	z-index : 1	;
}

#tlswipe1:checked ~ #timeline {
	transform:translateX(-50%);
}

#tlswipe1:checked ~ #tlswipelabel1 {
	background-color: #4c4c4c;
}

#tlswipe2:checked ~ #tlswipelabel2 {
	background-color: #4c4c4c;
}

@media(max-width: 1275px){
	#parallax1 {
	height: 70vh;
	}
	
	#txt1 {
	font-size: 4.5vw;
	}
	
	#txt2 {
	height: 80vw;
	}
	
	#txt2techdescribe {
	display: block;
	margin-top: 4vh;
	}
	
	#alphacameramkimage {
	margin-bottom: 4vh;
	}
	
	#mkselection {
	width: 80%;
	left: 10%;
	}

}

@media(max-width: 1150px){
	#parallax1 {
	height: 60vh;
	}
	
	#txt1 {
	font-size: 5.5vw;
	}
	
	#txt2 {
	height: 90vw;
	}
	
	.text_timeline {
	font-size: 3.5vh;;
	}
}

@media(max-width: 800px){
	#mkselection {
	display: none;
	}
	
	#alphacameramkimage {
	margin-bottom: 0;
	height: 55vw;
	width: 55vw;
	position: static;
	}
	
	#span12{
	display: none;
	}
	
	#parallax1 > div{
	display: flex;
	flex-direction: column;
	margin: auto auto;
	}
	
	#parallax2 {
	height: 20vh;
	}
	
	#parallax3 {
	height: 15vh;
	}
}

@media(max-width: 705px){
	#timelinecontainer {
	height: 80vh;
	}
}

@media(max-width: 625px){
	#timelinecontainer {
	height: 95vh;
	}
}

@media(max-width: 650px){
	#txt2 {
	height: 95vw;
	}
	
	#parallax1 {
	height: 50vh;
	}
	
	#parallax2 {
	height: 15vh;
	}
}

@media(max-width: 486px){
	#timelinecontainer {
	height: 110vh;
	}
}

@media(max-width: 468px){
	#parallax1 {
	height: 40vh;
	}
	
	#parallax2 {
	height: 10vh;
	}
	
	#txt1 {
	font-size: 6.5vw;
	}
	
	#txt2 {
	height: 100vw;
	}
	
	#timelinecontainer {
	height: 120vh;
	}
}
