@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translateY(200px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-image: url("../images/background-sea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

h1,h2,h3,h4,a,span,li,ul {
    animation:fadeInUp 2s;
}

#achat_background {
  margin:auto;
  margin-top:20px;
  width:80%;
  background-color: #F8F9F9;
  /* Offset sur le côté, offset sur la hauteur, effet de flou, longeur de l'ombre
  et couleur de l'ombre, contient shadow-color, background-color, box-color et l'opacité
  Ici on omet volontairement la longueur de l'ombre et on en superpose deux */
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

#achat_top {
  display: flex;
  flex-direction: row;
}

#achat_side_element {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right:20px;
}

div #achat_top > div > img {
  max-width: 30vw ;
  height: auto;
  padding:20px;
}

.achat_bouton {
  background-color: #36ae85;
  padding: 3% 5% 3% 5%;
  text-align: center;
  transition: transform .2s;
  margin:2vw;
  font-size:1vw;
  border-bottom: 2px solid green;
}

.achat_bouton:hover {
  transform:scale(1.1);
  transition: transform .2s;
}

div #achat_achat > div {
  font-size: 3vw;
  text-align: center;
  font-weight: bolder;
}

h1 {
  font-size: 4vw;
  text-align: center;
}

#achat_middle {
  width:100%;
}

div #achat_middle > div {
  width:100%;
}

#achat_list {
  font-size: 2vw;
  font-weight: normal;
}

.achat_desc_img {
  width:100%;
}

div #achat_middle > div {
  font-size:0px;
  position:relative;
}

.achat_texte_img {
  font-size: 50px;
  position:absolute;
  color:white;
  width:100%;
  top:30%;
  text-align: center;
}

a {
  color:white;
  text-decoration: none;
}
