main {
	margin: 5%;
	padding: 3%;
	background-color:#F8F9F9;
	z-index:-1000;
	font-size: 150%;
}

body {
	background-image: url("../images/paysage.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:bottom;
}

h1{
	font-size: 200%;
	text-align: center;
	padding-top:2%;
}

#accroche{
	text-align: center;

}

/*----les personnes------*/

.une_personne{
	margin-bottom:5%;
	margin-top:5%;
}


.photo{
	width:25%;
	height:40%;
	border-radius:50%;
	border: 2px solid #1f1f14;

}

.nom_pair{
	margin-left:5%;
}

.description_pair{
	margin-right:20%;
	text-align:justify;
	overflow:hidden;
}

.nom_impair{
	margin-left:45%;
}


.description_impair{
	margin-left:20%;
	text-align:justify;
	overflow:hidden;
}

.description_pair .photo{
	float: right;
	margin:	 5px 20px 5px 100px;
}

.description_impair .photo{
	float: left;
	margin: 5px 100px 5px 20px;
}

.description_pair .p{
	overflow:hidden;
}

.description_impair .p{
	overflow:hidden;
}

/*---rejoindre---*/
.rejoindre{
	text-align:center;
	background-image: url("../images/fond-ciel.jpeg");
	background-repeat:repeat;
	background-position:right top;
	background-size:cover;
	padding:3%;

}


/*---bouton----*/
#bouton_offre{
	margin-left:20%;
	margin-right:20%;
	margin-top:2%;

}

#bouton_rejoindre{
	text-align: center;
	transition: transform .2s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding : 0.7vw 4vw 0.7vw 4vw;
	background-color: skyblue;
	text-decoration: none;

}

#bouton_rejoindre:hover {
	transform:scale3d(1.1, 1.1, 1);
	transition: transform .4s;
	box-shadow: inset 0px 0px 10px 0px deepskyblue;
}
