


/*Corps */


div {
	text-align:center;
	}

body {
	background-image: url("../images/paysage.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:bottom;
}

main {
	z-index:-1000;
	background-color:white;
	margin:2%;
	border-radius:2%;
	}

#toutgalerie {
	padding:2%;
	}
	

/*Images */	

#image1 {
	
	}


/*-------------------------*/


/*titres*/

h1 {
	}






/*flèche retour   !!!!  css général  !!! */   

#fleche {
	height: 50px;
	width: 50px;
	border:3px solid  #969696;
	background-color:  #d2d3d3;
	border-radius:10%; 
	
}



#fleche_retour {
	position: fixed;
	bottom: 3vh;
	right: 3vh;
}


/*-----------------------------*/
