@font-face {
	font-family: Geolight;
	src: url(../assets/GeosansLight.ttf);
}

html {
	font-family: GeoLight, arial;
	color: #060606;
}

body {
	margin:0;
}

#footer_div {
	display: flex;
	flex-direction: row;
	width:100%;
	flex-wrap: wrap;
	flex-grow: 1;
}

footer > div div {
	flex-grow: 1;
	align-items: center;
	font-size: 1.2vw;
}

footer div ul li a {
	transition: color .3s;
}

footer div ul li a:hover {
		color:red;
}

footer {
	color:white;
	margin-top:200px;
	height:200px;
	background-color: rgb(8,8,8);
	padding:20px;
	padding-bottom: 10%;
}

#copyright {
	position:block;
}

#copyright {
	text-align: right;
}

#footer_legal {
	overflow-wrap: break-word;
	max-width: 30vw;
	font-size: 1vw;
}

.footer_photos {
	width:3vw;
	padding-right: 1vw;
}

footer > h1 {
	font-size: 2wv;
}
