.parallax {
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.textbetween {
	background-color: #f8f7f7;
	width : 100%;
	text-align: center;
	z-index: 500;
}

#txt1 {
	color: #060606;
	height: 25%;
	font-size: 4vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#txt1 > div {
	padding: 30px;
}

#txt1petit {
	font-size: 2.5vw;
	width: 75%;
	margin: auto;
}

#txt2 {
	color: #060606;
	height: 1000px;
	font-size: 3vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#txt2techdescribe {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: flex-start;
	margin-top: 10vh;
}

#bioeyetitle {
	padding: 30px;
	font-size: 7vw;
}

#txt3 {
	color: #060606;
	height: 2000px;
	font-size: 3vw;
	box-shadow: 0px 0px 20px 0px #060606;
}

#parallax1 {
	background-image: url(../images/parallax3-1.jpg);
	display: flex;
	align-items: stretch;
	position: relative;
	z-index: -300;
	height: 74vh;
}

#parallax1 > div{
	display: flex;
	flex-direction: column;
	margin: auto auto 40px auto;
}

#parallax1 #span11{
	text-align: center;
	position: relative;
	font-size: 12vw;
	color: #f8f7f7;
}

#parallax1 #span12{
	text-align: center;
	position: relative;
	font-size: 2.5vw;
	color: #f8f7f7;
	line-height: 200px
}

#parallax2 {
	background-image: url(../images/parallax5-1.jpg);
	position: relative;
	z-index: -300;
	height: 25vh;
}

#parallax2 > div{
	display: flex;
	flex-direction: column;
	margin: auto auto;
}

#parallax3 {
	background-image: url(../images/parallax2.jpg);
	position: relative;
	z-index: -300;
	height: 25vh;
}

#alphacameramkimage {
	height: 25%;
	width: 25%;
	position: relative;
	left: 3vw;
}

#mkselection {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
	width: 115vh;
	left: 8vw;
}

.tab [type=radio] {
	display: none;
}

.tab label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
}

.tab:first-child label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
	border-radius: 6px 0px 0px 0px;
}

.tab:last-child label {
	background-color: #4c4c4c;
	color: #f8f7f7;
	height: 3vh;
	padding: 2vh;
	font-size: 2vw;
	border-radius: 0px 6px 0px 0px;
}

.contentselectmktext {
	font-size: 1.7vw;
}

.animationcontentmkselect {
	transform : translateY(-10%);
	transition: all 0.2s ease-out, opacity 0.2s ease-out;
	opacity: 0
}

.contentmkselect {
	background-color: #5f5f5f;
	color: #f8f7f7;
	font-size: 3vw;
	position: absolute;
	top: 8vh;
	left: 0;
	padding: 40px;
	visibility: hidden;
	box-shadow: inset -4px -4px #56647a;
	border-radius: 0px 6px 6px 6px;
}

[type=radio]:checked ~ label {
	background: #5f5f5f;
	z-index: 2;
}

[type=radio]:checked ~ .contentmkselect {
	visibility: visible;
	z-index: 1;
}

[type=radio]:checked ~ .contentmkselect .animationcontentmkselect {
	transform: translateY(0%);
	opacity: 1;
}

